.navbar {
    padding-bottom: 5px;
}

#i {
    color: rgb(255, 255, 255);
    margin-left: 1%;
    margin-top: 1%;
    font-size: 180%;
}

.nav-menu {
    background-color: rgba(5, 5, 5, 0.6);
    margin-left: 1%;
    border-radius: 20px;
    width: 15%;
    height: 21rem;
    display: flex;
    justify-content: center;
    position: absolute;
    color: white;
    left: -100%;
    padding-right: 2rem;
    transition: 0.65s;
}

.nav-menu.active {
    left: 0;
    transition: 1s;
}

ul li {
    list-style-type: none;
    font-size: 2rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-left: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 4rem;
}

.link {
    text-decoration: none;
    color: white;
}

.link:visited {
    text-decoration: none;
}

.link:hover {
    background-color: aliceblue;
    border-radius: 23px;
    color: black;
    padding: 15px 8px;
}